@use 'globals/reset';
@use 'globals/typography';
@use 'globals/variables' as *;
@use 'globals/mixins.scss' as *;

header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/desktop/image-hero.jpg) center / cover no-repeat;
    min-height: 100dvh;
    position: relative;
    margin-bottom: 5rem;

    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.5rem 5rem;

        .nav-links{
            
            .links{
                font-size: 1.1rem;
                font-weight: 600;
                color: #fff;
                margin-left: 2rem;
                position: relative;

                &::before,
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    left: 20%;
                    width: 60%;
                    height: 2.4px;
                    background: #f9f9f9;
                    border-radius: 1rem;
                    transform: scaleX(0);
                    transition: transform .4s ease;
                    transform-origin: left right;
                }

                &::after{
                    transform-origin: left right;
                }

                &:hover{
                    &::before,
                    &::after {
                    transform: scaleX(1);
                    }
                }
            }
        }
    }

    .hero-section{
        position: relative;

        .hero-text{
            border: 2px solid #fff;
            width: 700px;
            padding: 2rem;
            margin: 5rem 0 0 5rem;

            h1{
                font-family: "Josefin Sans", sans-serif;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 5rem;
                color: #fff;
            }
        }
    }
}

main{
    .first-section{
        
    }
}